<div class="container">
  <!-- Page title -->
  <div class="row page-title">
    <h5>Sign in with your w3id</h5>
  </div>

  <!-- Form -->
  <div class="row login">
    <form #frmLogin="ngForm" method="post" name="frmLogin">
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            @
          </div>
          <input placeholder="E.g. juan.delacruz@ph.ibm.com" #txtUsername [(ngModel)] = "pageParams.loginForm.username" type="email" class="form-control" id="txtUsername" name="username" required>
        </div>
      </div>
      <div class="form-group">
        <div class="input-group">
          <div class="input-group-addon">
            <span class="fa fa-key"></span>
          </div>
          <input placeholder="Password" #txtPassword [(ngModel)] = "pageParams.loginForm.password" type="password" class="form-control" id="txtPassword" name="password" required>
        </div>
      </div>
      <div class="form-group pull-right ">
        <button [disabled]="pageParams.formSubmitted" (click) = "login(txtUsername.value, txtPassword.value)" type="submit" id="btnLogin" class="btn btn-warning">
          <span [ngClass]="{'glyphicon glyphicon-log-in': !pageParams.formSubmitted, 'fa fa-circle-o-notch fa-spin': pageParams.formSubmitted}"></span> &nbsp; Login
        </button>
      </div>

    </form>
  </div>
</div>
