.panel-title{
    font-size: 11px;
    font-weight: bold;
}
span.panel-icon{
    color: #34495E;
    margin-top: -12px;
    margin-right: -15px;
}
.col-sm-11{
    width: 98.7%;
}

div.meeting-add-grid table tr td.counter{
    width: 35px;
}

div.meeting-add-grid table tr td.type{
    width: 100px;
}

div.meeting-add-grid table tr td.note{

}

div.meeting-add-grid table tr td.topic{
    width: 180px;
}

div.meeting-add-grid table tr td.owner{
    width: 240px;
}

div.meeting-add-grid table tr td.due-date{
    width: 100px;
}

div.meeting-add-grid table tr td.status{
    width: 100px;
}

div.meeting-add-grid table tr td.action{
    width: 80px;
    text-align: center;
}

table.topics-grid{
    width:95%;
    margin-right:20px;
    margin-left:20px;
}