<div class="container">
  <div>
    <!-- New Action Item -->
    <form #searchActionItemForm="ngForm" name="searchActionItemForm">
      <div class="row pull-left" *ngIf="_appGlobal.userSession.accessRoles.indexOf('ROLE_ADMIN') != -1">
        <div class="input-group search-action-items" style="width:220px">
          <input name="name" id="txtName" type="text" class="form-control" placeholder="Title ..." [(ngModel)] = "pageParams.name">
          <span class="input-group-btn">
          <button [disabled] = "!searchActionItemForm.form.valid" class="btn btn-secondary" type="submit" (click)="openActionItemDialog('', 'add')"><span class="glyphicon glyphicon-plus-sign"></span></button>
        </span>
        </div>
      </div>
    </form>

    <!-- Search panel -->
    <form #frmSearchEmployee="ngForm">
      <div class="row search-panel">
        <div class="input-group search-action-items" style="width:220px">
          <input name="searchString" id="txtSearchActionItem" type="text" class="form-control" placeholder="Search ..." [(ngModel)] = "pageParams.searchString">
          <span class="input-group-btn">
              <button class="btn btn-secondary" type="submit" (click) = "search()"><span class="glyphicon glyphicon-search"></span></button>
              <button class="btn btn-secondary" type="button" (click)="resetSearch()"><span class="glyphicon glyphicon-refresh"></span></button>
          </span>
        </div>
      </div>
    </form>
  </div>

  <!-- Grid section -->
  <div class="row grid action-items-grid">
    <!-- Table headers -->
    <div>
      <table class="table table-header">
        <tr>
          <td class="counter">#</td>
          <td class="title">Title</td>
          <td class="description">Description</td>
          <td class="dateAdded">Date Added</td>
          <td class="dateDue">Due Date</td>
          <td class="required">Action Required?</td>
          <td class="action">&nbsp;</td>
        </tr>
      </table>
    </div>

    <!-- Table body -->
    <div>
      <table class="table table-hover table-content">
        <tr *ngFor="let actionItem of actionItems"> <!-- # is deprecated, use let instead -->
          <td class="counter">{{ actionItem.counter }}</td>
          <td class="title">{{ (actionItem.name.length > 150)? (actionItem.name | slice : 0: 150) + '..' : (actionItem.name) }}</td>
          <td class="description"> {{ (actionItem.description.length > 150)? (actionItem.description | slice : 0: 150) + '..' : (actionItem.description) }}</td>
          <td class="dateAdded">{{ actionItem.dateAdded | date}}</td>
          <td class="dateDue">{{ actionItem.dateDue | date }}</td>
          <td class="required">{{ actionItem.required ? "YES" : "NO" }}</td>
          <td class="action">
            <!-- View -->
            <a class="btn btn-info action-button" href="javascript:void(0);" title="View" (click)="openActionItemDialog(actionItem.id, 'view')">
              View
            </a>

            <!-- Edit -->
            <a class="btn btn-warning action-button" role="button" *ngIf="_appGlobal.userSession.accessRoles.indexOf('ROLE_ADMIN') != -1" href="javascript:void(0);" title="Edit" (click)="openActionItemDialog(actionItem.id, 'edit')">
              Edit
            </a>

            <!-- Delete (if not assigned) -->
            <!--<a class="btn btn-danger action-button" role="button" *ngIf="_appGlobal.userSession.accessRoles.indexOf('ROLE_ADMIN') != -1" href="javascript:void(0);" title="Delete" (click)="deleteActionItem(actionItem.id)">
              Delete
            </a>-->

            <!-- Assign -->
            <a class="btn btn-primary action-button" role="button" *ngIf="_appGlobal.userSession.accessRoles.indexOf('ROLE_ADMIN') != -1" href="javascript:void(0);" title="Assign" (click)="openAssignActionItemDialog(actionItem.id)">
              Assign
            </a>

          </td>
        </tr>
        <tr *ngIf="totalRecords == 0">
          <td colspan="7">No record found.</td>
        </tr>
      </table>
    </div>
  </div>
  <!-- Pagination -->
  <div class="row">
    <pagination [itemsPerPage]="pageParams.size" [totalItems]="totalRecords" [(ngModel)]="pageParams.page" [maxSize]="5" class="pagination-sm"
                [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
  </div>
</div>