<div class="dialog-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">{{ (data.action === 'add') ? "Add Action Item" : (data.action === 'edit') ? "Edit Action Item" : "Action Item" }} </h3>
    <span *ngIf="data.action === 'add'" class="glyphicon glyphicon-plus-sign pull-right panel-icon">&nbsp;</span>
  </div>
  <div class="panel-body">
    <mat-dialog-content>
      <div class="row">
        <form #actionItemForm = "ngForm" name="actionItemForm">
          <div class="col-sm-12">
            <div class="row form-group">
              <div class="col-sm-12">
                <label for="txtTitle">Title&nbsp;<span style="color: #ff0000">*</span></label>
                <input [readonly]="data.action === 'view'"  [ngClass]="{'error-field' : actionItemDialogModel.name === ''}" [(ngModel)] = "actionItemDialogModel.name" class="form-control" id="txtTitle" name="name"  required="true" type="text">
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row form-group">
              <div class="col-sm-12">
                <label for="txtDescription">Description&nbsp;<span style="color: #ff0000">*</span></label>
                <textarea [readonly]="data.action === 'view'" [ngClass]="{'error-field' : actionItemDialogModel.description === ''}"  [(ngModel)]="actionItemDialogModel.description" class="form-control" id="txtDescription" name="description" required="true"></textarea>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row form-group">
              <div class="col-sm-12">
                <label for="txtReferences">References/Links&nbsp;</label>
                <textarea [readonly]="data.action === 'view'" [ngClass]="{'error-field' : actionItemDialogModel.references === ''}" [(ngModel)]="actionItemDialogModel.references" class="form-control" id="txtReferences" name="references" required="false"></textarea>
              </div>
            </div>
          </div>

          <div class="col-sm-12">
            <div class="row form-group">
              <div class="col-sm-3">
                <label>Due Date&nbsp;</label>

                <div *ngIf="data.action !== 'view'" class="input-group">
                  <input [readonly]="data.action === 'view'" style="border-radius : 4px;" class="form-control" matInput [matDatepicker]="picker" placeholder="" [(ngModel)]= "actionItemDialogModel.dateDue" name="dateDue">
                  <span class="input-group-btn">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </span>
                </div>

                <div *ngIf="data.action === 'view'" class="input-group">
                  <input [readonly]="data.action === 'view'" style="border-radius : 4px;" class="form-control" matInput [matDatepicker]="picker" placeholder="" [(ngModel)]= "actionItemDialogModel.dateDue" name="dateDue">
                </div>
              </div>

              <div class="col-sm-3">
                <label for="cboActionRequired">Action Required?&nbsp;</label>
                <select [disabled]="data.action === 'view'" [(ngModel)] = "actionItemDialogModel.required" class="form-control" id="cboActionRequired" name="required">
                  <option value="true">Yes</option>
                  <option value="false">No</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
    </mat-dialog-content>
  </div>
</div>
<mat-dialog-actions class="pull-right">
  <button *ngIf="data.action !=='view'" [disabled] = "this.formSubmitted == true" (click) = "saveActionItem(data.action)" class="btn btn-warning pull-right save-button" mat-button>
    <span *ngIf="this.formSubmitted == true" class="fa fa-circle-o-notch fa-spin"></span>
    <span *ngIf="this.formSubmitted != true">Save</span>
  </button>&nbsp;
  <button class="btn btn-warning pull-right cancel-button" mat-button mat-dialog-close>{{ data.action !=='view' ? "Cancel" : "Ok" }}</button>
</mat-dialog-actions >
