<div class="dialog-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Assign Action Item</h3>
    <span class="glyphicon glyphicon-tag pull-right panel-icon">&nbsp;</span>
  </div>
  <div class="panel-body">
    <mat-dialog-content>
      <div class="row">
          <div class="col-sm-12">
            <div class="row form-group">
              <div class="col-sm-12">
                <label for="txtTitle">Title&nbsp;</label>
                <input readonly [(ngModel)] = "actionItemDialogModel.name" class="form-control" id="txtTitle" name="name" type="text">
              </div>
            </div>
          </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="row form-group">
            <div class="alert alert-info" style="margin-left:15px;margin-right:15px;">
              Click "Assign" to assign the action item to the selected employees.
            </div>
          </div>
        </div>
      </div>
      <!-- Search panel -->
      <div class="row">
        <form #frmSearchEmployee="ngForm">
        <div class="col-sm-6">
          <div class="input-group">
            <select [(ngModel)] = "pageParams.deliveryManagerId" name="deliverymanager" class="form-control" id="cboDeliveryManager" (change)="search()">
              <option value="">- Delivery Manager -</option>
              <option *ngFor="let manager of deliveryManagers" [value]="manager.id">{{ manager.lname }}, {{ manager.fname }} {{ manager.mname }}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6 search-panel">
          <div class="input-group search-accounts pull-right" style="width:220px">
            <input name="searchString" id="txtSearchEmployeeByName" type="text" class="form-control" placeholder="Search ..." [(ngModel)] = "pageParams.searchString">
            <span class="input-group-btn">
                      <button class="btn btn-secondary" type="submit" (click) = "search()"><span class="glyphicon glyphicon-search"></span></button>
                      <button class="btn btn-secondary" type="button" (click)="resetSearch()"><span class="glyphicon glyphicon-refresh"></span></button>
                  </span>
          </div>
         </div>
        </form>
      </div>
      <div class="row grid employees-grid" style="padding-right: 5px;padding-left:5px;">
        <!-- Table headers -->
        <div>
          <table class="table table-header">
            <tr>
              <td class="counter">
                <input type="checkbox" [(ngModel)]="selectedAll" (change)="selectAll(selectedAll)">
              </td>
              <td class="serial">Serial</td>
              <td class="name">Name</td>
              <td class="email">Email Address</td>
            </tr>
          </table>
        </div>
        <!-- Table body -->
        <div style="height: 180px; overflow-y: scroll">
          <table class="table table-hover table-striped table-content">
            <tr *ngFor="let employee of employees"> <!-- # is deprecated, use let instead -->
              <td class="counter"><input type="checkbox" [value]="employee.id" [(ngModel)]="assignedEmployees[employee.id]" (change) ="checkIfSelectedAll(assignedEmployees[employee.id])"></td>
              <td class="serial">{{ employee.serial }}</td>
              <td class="name">{{ employee.lname }}, {{ employee.fname }} {{ employee.mname }}</td>
              <td class="email">{{ employee.email }}</td>
            </tr>
            <tr *ngIf="totalRecords == 0">
              <td colspan="4">No record found.</td>
            </tr>
          </table>
        </div>
        <!-- Pagination -->
        <div style="padding-top:10px;">
          <pagination [itemsPerPage]="pageParams.size" [totalItems]="totalRecords" [(ngModel)]="pageParams.page" [maxSize]="5" class="pagination-sm"
                      [boundaryLinks]="true" [rotate]="false" (pageChanged)="pageChanged($event)"></pagination>
        </div>
      </div>
    </mat-dialog-content>
  </div>
</div>
<mat-dialog-actions class="pull-right">
  <button [disabled] = "this.formSubmitted == true" (click) = "saveAssignments(actionItemDialogModel.id)" class="btn btn-warning pull-right" mat-button>
    <span *ngIf="this.formSubmitted == true" class="fa fa-circle-o-notch fa-spin"></span>
    <span *ngIf="this.formSubmitted != true">Save Assignments</span>
  </button>&nbsp;
  <button class="btn btn-warning pull-right cancel-button" mat-button mat-dialog-close>{{ data.action !=='view' ? "Cancel" : "Ok" }}</button>
</mat-dialog-actions >