<div class="container">
    <!-- Page title -->
    <!--<div class="row page-title">
        <h5>&nbsp;</h5>
    </div>-->

    <!-- Basic Information -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Basic Information</h3>
            <span class="glyphicon glyphicon-user pull-right panel-icon">&nbsp;</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form #employeeBasicInformationForm = "ngForm" name="employeeBasicInformationForm">
                    <div class="col-sm-11">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <label for="txtFname">First Name&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeBasicInformationModel.fname === ''}" [(ngModel)] = "employeeBasicInformationModel.fname" class="form-control" id="txtFname" name="fname"  required="true" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label for="txtMname">Middle Name</label>
                                <input [(ngModel)] = "employeeBasicInformationModel.mname" class="form-control" id="txtMname" name="mname"   type="text">
                            </div>
                            <div class="col-xs-4">
                                <label for="txtLname">Last Name&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeBasicInformationModel.lname === ''}" [(ngModel)] = "employeeBasicInformationModel.lname" class="form-control" id="txtLname" name="lname"  required="true" type="text">
                            </div>

                            <div class="col-xs-2">
                                <label for="txtSuffix">Suffix</label>
                                <input [(ngModel)] = "employeeBasicInformationModel.suffix" class="form-control" id="txtSuffix" name="suffix"   type="text">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <label for="txtSerial">Serial&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeBasicInformationModel.serial === ''}" [(ngModel)] = "employeeBasicInformationModel.serial" class="form-control" id="txtSerial" name="serial"  required="true" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label for="txtPosition">Position&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeBasicInformationModel.position === ''}" [(ngModel)] = "employeeBasicInformationModel.position" class="form-control"id="txtPosition"  name="position"  required="true" type="text">
                            </div>
                            <div class="col-xs-2">
                                <label for="cboPem">People Manager?</label>
                                <select [(ngModel)] = "employeeBasicInformationModel.pem" class="form-control" id="cboPem" name="pem">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label for="cboDm">Delivery Manager?</label>
                                <select [(ngModel)] = "employeeBasicInformationModel.dm" class="form-control" id="cboDm" name="dm">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-xs-2">
                                <label for="cboTl">Team Lead?</label>
                                <select [(ngModel)] = "employeeBasicInformationModel.tl" class="form-control" id="cboTl" name="tl">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-5">
                                <label for="txtIBMEmail">IBM Email&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeBasicInformationModel.email === ''}" readonly [(ngModel)] = "employeeBasicInformationModel.email" class="form-control" id="txtIBMEmail"  name="email"  required="true" type="email">
                            </div>

                            <div class="col-xs-7">
                                <label for="cboPeopleManager">People Manager&nbsp;<span style="color: #ff0000">*</span></label>
                                <div class="input-group">
                                    <select [ngClass]="{'error-field' : employeeBasicInformationModel.peopleManager.id === ''}" name="peoplemanager" [(ngModel)] = "employeeBasicInformationModel.peopleManager.id" class="form-control" id="cboPeopleManager" required="true">
                                        <option value="">-SELECT-</option>
                                        <option *ngFor="let manager of peopleManagers" [value]="manager.id">{{ manager.lname }}, {{ manager.fname }} {{ manager.mname }}</option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" (click) = "openEmployeeSearchDialog('people-manager')"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <fieldset>
                                <legend>Skill Set</legend>
                                <div class="row form-group">
                                    <div class="col-xs-4">
                                        <label for="txtPrimarySkillSet">Primary&nbsp;<span style="color: #ff0000">*</span></label>
                                        <input [ngClass]="{'error-field' : employeeBasicInformationModel.primarySkillSet === ''}" [(ngModel)] = "employeeBasicInformationModel.primarySkillSet" class="form-control" id="txtPrimarySkillSet" name="primaryskillset"  required="true" type="text">
                                    </div>
                                    <div class="col-xs-4">
                                        <label for="txtSecondarySkillSet">Secondary&nbsp;<span style="color: #ff0000">*</span></label>
                                        <input [ngClass]="{'error-field' : employeeBasicInformationModel.secondarySkillSet === ''}" [(ngModel)] = "employeeBasicInformationModel.secondarySkillSet" class="form-control" id="txtSecondarySkillSet" name="secondaryskillset"  required="true" type="text">
                                    </div>

                                    <div class="col-xs-4">
                                        <label for="txtJRSS">JRSS&nbsp;<span style="color: #ff0000">*</span></label>
                                        <input [ngClass]="{'error-field' : employeeBasicInformationModel.jrss === ''}" [(ngModel)] = "employeeBasicInformationModel.jrss" class="form-control" id="txtJRSS" name="jrss"  type="text">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Contact details -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Contact Details</h3>
            <span class="glyphicon glyphicon-phone-alt pull-right panel-icon">&nbsp;</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form #employeeContactDetailsForm = "ngForm" name="employeeContactDetailsForm">
                    <div class="col-sm-11">
                        <div class="row form-group">
                            <div class="col-xs-6">
                                <label for="txtEmail">Email Address&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeContactDetailsModel.emailAddress === ''}" readonly [(ngModel)] = "employeeContactDetailsModel.emailAddress" class="form-control" id="txtEmail" name="email"  required="true" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label for="txtMobile">Mobile #&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeContactDetailsModel.mobileNumber === ''}" [(ngModel)] = "employeeContactDetailsModel.mobileNumber" class="form-control" id="txtMobile" name="mobile"  required="true" type="text">
                            </div>
                            <div class="col-xs-3">
                                <label for="txtPhone">Home Phone #</label>
                                <input [(ngModel)] = "employeeContactDetailsModel.homePhoneNumber" class="form-control" id="txtPhone" name="phone"   type="text">
                            </div>
                        </div>
                        <div class="row form-group">
                            <fieldset>
                                <legend>Business/Work Address</legend>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <label for="txtBusinessAddress1">Address 1</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.address1" class="form-control" id="txtBusinessAddress1" name="businessaddress1"   type="text">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="txtBusinessAddress1">Address 2</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.address2" class="form-control" id="txtBusinessAddress2" name="businessaddress2"   type="text">
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-3">
                                        <label for="txtBusinessCity">City</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.city" class="form-control" id="txtBusinessCity" name="businesscity"   type="text">
                                    </div>
                                    <div class="col-xs-5">
                                        <label for="cboBusinessCountry">Country</label>
                                        <select [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.country" class="form-control" id="cboBusinessCountry" name="businesscountry" type="text">
                                            <option value="">-SELECT</option>
                                            <option value="Philippines">Philippines</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="txtBusinessState">State</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.state" class="form-control" id="txtBusinessState" name="businessstate"   type="text">
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="txtBusinessZip">Zip</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.businessEmployeeAddress.zip" class="form-control" id="txtBusinessZip" name="businesszip"   type="text">
                                    </div>

                                </div>
                            </fieldset>
                        </div>

                        <div class="row form-group">
                            <fieldset>
                                <legend>Home Address</legend>
                                <div class="row form-group">
                                    <div class="col-xs-6">
                                        <label for="txtHomeAddress1">Address 1</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.address1" class="form-control" id="txtHomeAddress1" name="homeaddress1"   type="text">
                                    </div>
                                    <div class="col-xs-6">
                                        <label for="txtHomeAddress1">Address 2</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.address2" class="form-control" id="txtHomeAddress2" name="homeaddress2"   type="text">
                                    </div>

                                </div>
                                <div class="row form-group">
                                    <div class="col-xs-3">
                                        <label for="txtHomeCity">City</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.city" class="form-control" id="txtHomeCity" name="homecity"   type="text">
                                    </div>
                                    <div class="col-xs-5">
                                        <label for="cboHomeCountry">Country</label>
                                        <select [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.country" class="form-control" id="cboHomeCountry" name="homecountry" type="text">
                                            <option value="">-SELECT</option>
                                            <option value="Philippines">Philippines</option>
                                        </select>
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="txtHomeState">State</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.state" class="form-control" id="txtHomeState" name="homestate"   type="text">
                                    </div>
                                    <div class="col-xs-2">
                                        <label for="txtHomeZip">Zip</label>
                                        <input [(ngModel)] = "employeeContactDetailsModel.homeEmployeeAddress.zip" class="form-control" id="txtHomeZip" name="homezip"   type="text">
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Project Details -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Team</h3>
            <span class="fa fa-group pull-right panel-icon">&nbsp;</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form #employeeProjectForm = "ngForm" name="employeeProjectForm">
                    <div class="col-sm-11">
                        <div class="row form-group">
                            <div class="col-xs-4">
                                <label for="txtTeam">Team Name&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeProjectModel.teamName === ''}" [(ngModel)] = "employeeProjectModel.teamName" class="form-control" id="txtTeam" name="teamname"  required="true" type="text">
                            </div>
                            <div class="col-xs-4">
                                <label for="cboLead">Lead&nbsp;<span style="color: #ff0000">*</span></label>
                                <div class="input-group">
                                    <select [ngClass]="{'error-field' : employeeProjectModel.teamLead.id === ''}" [(ngModel)] = "employeeProjectModel.teamLead.id" class="form-control" id="cboLead" name="lead" required="true">
                                        <option value="">-SELECT-</option>
                                        <option *ngFor="let lead of teamleads" [value]="lead.id">{{ lead.lname }}, {{ lead.fname }} {{ lead.mname }}</option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" (click) = "openEmployeeSearchDialog('team-lead')"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <label for="cboDeliveryManager">Delivery Manager&nbsp;<span style="color: #ff0000">*</span></label>
                                <div class="input-group">
                                    <select [ngClass]="{'error-field' : employeeProjectModel.deliveryManager.id === ''}" name="deliverymanager" [(ngModel)] = "employeeProjectModel.deliveryManager.id" class="form-control" id="cboDeliveryManager" required="true">
                                        <option value="">-SELECT-</option>
                                        <option *ngFor="let manager of deliveryManagers" [value]="manager.id">{{ manager.lname }}, {{ manager.fname }} {{ manager.mname }}</option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button class="btn btn-secondary" type="button" (click) = "openEmployeeSearchDialog('delivery-manager')"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col-xs-4">
                                <label for="cboShift">Work Schedule&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeProjectModel.shift == ''}" [(ngModel)] = "employeeProjectModel.shift" class="form-control" id="cboShift" name="shift" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="REGULAR">Regular</option>
                                    <option value="FIRST">Shift 1</option>
                                    <option value="MID">Shift 2</option>
                                    <option value="NIGHT">Shift 3</option>
                                    <option value="ROTATION">Rotation</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="cboOncall">On-call Schedule</label>
                                <select [(ngModel)] = "employeeProjectModel.onCallSchedule" class="form-control" id="cboOncall" name="onCallSchedule" >
                                    <option value="">-SELECT-</option>
                                    <option value="NO">N/A</option>cd
                                    <option value="WEEKLY">Weekly</option>
                                    <option value="MONTHLY">Monthly</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="txtOnCallHours">Total On-call Hours</label>
                                <input [(ngModel)] = "employeeProjectModel.totalOnCallHours" class="form-control" id="txtOnCallHours" name="oncallhours"   type="text">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-4">
                                <label for="txtProjectEmail">Email Address&nbsp;(Project)&nbsp;<span style="color: #ff0000">*</span></label>
                                <input [ngClass]="{'error-field' : employeeProjectModel.projectEmailAddress === '' || employeeProjectModel.projectEmailAddress === null || employeeProjectModel.projectEmailAddress === undefined}" [(ngModel)] = "employeeProjectModel.projectEmailAddress" class="form-control" id="txtProjectEmail" name="projectemail"  required="true" type="email">
                            </div>
                            <div class="col-xs-4">
                                <label for="cboCapped">Capped?&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeProjectModel.capped === ''}" [(ngModel)] = "employeeProjectModel.capped" class="form-control" id="cboCapped" name="capped" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="NO">N/A</option>
                                    <option value="DAILY">Daily</option>
                                    <option value="WEEKLY">Weekly</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="txtCappedHours">Capped Hours&nbsp;<span style="color: #ff0000" *ngIf="employeeProjectModel.capped != 'NO'">*</span></label>
                                <input [readonly] = "employeeProjectModel.capped == 'NO'"  [ngClass]="{'error-field' : employeeProjectModel.cappedHours === ''  && employeeProjectModel.capped != 'NO'}" [(ngModel)] = "employeeProjectModel.cappedHours" class="form-control" id="txtCappedHours" name="cappedhours" type="text" required="employeeProjectModel.capped != 'NO'">
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-xs-4">
                                <label for="cboBCPRole">BCP Role&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeProjectModel.bcpRole === ''}" [(ngModel)] = "employeeProjectModel.bcpRole" class="form-control" id="cboBCPRole" name="bcprole" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="BCP_CRITICAL">BCP Critical Resource</option>
                                    <option value="NON_BCP_CRITICAL">Non-BCP critical Resource</option>
                                    <option value="BACKUP_TO_BCP">Backup to BCP Critical Resource</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="cboCriticalService">Critical Service Supported?&nbsp;<span style="color: #ff0000" *ngIf="employeeProjectModel.bcpRole == 'BCP_CRITICAL'">*</span></label>
                                <select [disabled] = "employeeProjectModel.bcpRole != 'BCP_CRITICAL'" [ngClass]="{'error-field' : employeeProjectModel.criticalServiceSupported === '' && employeeProjectModel.bcpRole == 'BCP_CRITICAL'}" [(ngModel)] = "employeeProjectModel.criticalServiceSupported" class="form-control" id="cboCriticalService" name="criticalservice" required="employeeProjectModel.bcpRole == 'BCP_CRITICAL'">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-xs-4">
                                <label for="cboCriticalService">Backup</label>
                                <div class="input-group">
                                    <select [disabled] = "employeeProjectModel.bcpRole != 'BCP_CRITICAL'" [(ngModel)] = "employeeProjectModel.employeeBackup.id" class="form-control" id="cboBackup" name="backup">
                                        <option value="">-SELECT-</option>
                                        <option *ngFor="let employee of employees" [value]="employee.id">{{ employee.lname }}, {{ employee.fname }} {{ employee.mname }}</option>
                                    </select>
                                    <span class="input-group-btn">
                                            <button [disabled] = "employeeProjectModel.bcpRole != 'BCP_CRITICAL'" class="btn btn-secondary" type="button" (click) = "openEmployeeSearchDialog('backup')"><span class="glyphicon glyphicon-search"></span></button>
                                        </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Reimbursements -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Reimbursements</h3>
            <span class="glyphicon glyphicon-usd pull-right panel-icon">&nbsp;</span>
        </div>
        <div class="panel-body">
            <div class="row">
                <form #employeeReimbursementsForm = "ngForm" name="employeeReimbursementsForm">
                    <div class="col-sm-11">
                        <div class="row form-group">
                            <div class="col-xs-3">
                                <label for="cboBroadband">Broadband?&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeReimbursementsModel.broadBand === ''}" [(ngModel)] = "employeeReimbursementsModel.broadBand" class="form-control" id="cboBroadband" name="broadband" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-xs-3">
                                <label for="cboMobileData">Mobile Data?&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeReimbursementsModel.mobileData === ''}" [(ngModel)] = "employeeReimbursementsModel.mobileData" class="form-control" id="cboMobileData" name="mobiledata" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                            <div class="col-xs-6">
                                <label for="cboMobileDevide">Mobile Device?&nbsp;<span style="color: #ff0000">*</span></label>
                                <select [ngClass]="{'error-field' : employeeReimbursementsModel.mobileDevice === ''}" [(ngModel)] = "employeeReimbursementsModel.mobileDevice" class="form-control" id="cboMobileDevide" name="mobiledevice" required="true">
                                    <option value="">-SELECT-</option>
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="col-xs-6">
            <div class="date-update pull-left">
                <span>Last Update: {{ employeeBasicInformationModel.dateUpdated != undefined ? (employeeBasicInformationModel.dateUpdated | date) : "" }} </span>
                &nbsp;
                <span>Updated By: {{ employeeBasicInformationModel.updatedBy != undefined ? employeeBasicInformationModel.updatedBy.fname : ""}} {{ employeeBasicInformationModel.updatedBy != undefined ? employeeBasicInformationModel.updatedBy.lname : ""}}</span>
            </div>
        </div>
        <div class="col-xs-6">
            <button [disabled]="!employeeBasicInformationForm.form.valid
                                || employeeBasicInformationFormSubmitted
                                || !employeeContactDetailsForm.form.valid
                                || employeeContactDetailsFormSubmitted
                                || !employeeProjectForm.form.valid
                                || employeeProjectFormSubmitted
                                || !employeeReimbursementsForm.form.valid
                                || employeeReimbursementsFormSubmitted" (click) = "updateAll(employeeBasicInformationModel.id)" class="btn btn-warning pull-right save-button">
                <span [ngClass]="{'glyphicon glyphicon-save': !employeeBasicInformationFormSubmitted || !employeeContactDetailsFormSubmitted || !employeeProjectFormSubmitted || !employeeReimbursementsFormSubmitted, 'fa fa-circle-o-notch fa-spin': employeeBasicInformationFormSubmitted}"></span> &nbsp; Save
            </button>
        </div>
    </div>
    <br/>
</div>