<div class="container">
    <div class="row">
        <div class="jumbotron text-center">
            <h3>{{ _appGlobal.appTitle }} {{ _appGlobal.appVersion }}</h3>
            <br/>
            <h5 *ngIf="_appGlobal.userSession == null || !_appGlobal.userSession.isAuthenticated">Login or Register with:</h5>
            <a *ngIf="_appGlobal.userSession == null || !_appGlobal.userSession.isAuthenticated" (click) ="w3Login()" class="btn btn-default"><span class="fa fa-user"></span> W3 Login</a>
            <a *ngIf="_appGlobal.userSession == null || !_appGlobal.userSession.isAuthenticated" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
            <a *ngIf="_appGlobal.userSession == null || !_appGlobal.userSession.isAuthenticated" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
            <a *ngIf="_appGlobal.userSession == null || !_appGlobal.userSession.isAuthenticated" class="btn btn-danger"><span class="fa fa-google-plus"></span> Google</a>
        </div>
    </div>
</div>
