div.search-panel div.search-employees{
    width: 200px;
}

div.employees-grid table tr td.counter{
    width: 35px;
}

div.employees-grid table tr td.serial{
    width: 100px;
}

div.employees-grid table tr td.name{
    width: 160px;
}

div.employees-grid table tr td.email{
    width: 150px;
}

div.employees-grid table tr td.address{

}

div.employees-grid table tr td.phone{
    width: 120px;
}

div.employees-grid table tr td.action{
    width: 190px;
    text-align: center;
}

div.employees-grid table tr td.action a.action-button{
    height: 18px !important;
    line-height: 4px !important;
    font-size: 8px !important;
}