<div class="dialog-panel panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add from W3</h3>
    <span class="glyphicon glyphicon-plus-sign pull-right panel-icon">&nbsp;</span>
  </div>
  <div class="panel-body">
    <mat-dialog-content>
      <form #frmW3EmployeeForm="ngForm" name="frmW3EmployeeForm">
      <div class="col-sm-12 grid employees-grid">
        <div class="row grid" *ngIf="data.id == null">
          <div class="col-xs-12 alert alert-warning">
            Employee with email "{{ data.email }}" does not exists in W3 database.
          </div>
        </div>

        <div class="row grid" *ngIf="data.id !== '1' && data.id !== null">
          <div class="col-xs-12 alert alert-warning">
            Employee with email "{{ data.email }}" already exists in the database.
          </div>
        </div>

        <div class="row grid" *ngIf="data.id != null && data.id === '1'">
          <div class="col-xs-12 alert alert-info">
            Employee found! Click IMPORT to import data in the database.
          </div>
        </div>

        <div class="row grid dialog-row" *ngIf="data.id != null">
          <div class="col-xs-4">
            Name&nbsp;:
          </div>
          <div class="col-xs-3">
            Email&nbsp;:
          </div>
          <div class="col-xs-5">
            Position&nbsp;:
          </div>
        </div>
        <div class="row grid" *ngIf="data.id != null">
          <div class="col-xs-4">
            {{ data.fname }} {{ data.mname }} {{ data.lname }} {{ data.suffix }}
          </div>
          <div class="col-xs-3">
           {{ data.email }}
          </div>
          <div class="col-xs-5">
            {{ data.position }}
          </div>
        </div>

        <div class="row grid dialog-row" *ngIf="data.id != null">
          <div class="col-xs-4">
            Tag employee as People Manager?
          </div>
          <div class="col-xs-4">
            Tag employee as Delivery Manager?
          </div>
          <div class="col-xs-4">
            Tag employee as Team Lead?
          </div>
        </div>
        <div class="row grid" *ngIf="data.id != null">
          <div class="col-xs-4">
            <select [disabled] = "data.id !== '1' && data.id !== null" style="width: 70px;" [(ngModel)] = "employeeDialogModel.pem" class="form-control" id="cboPeopleManager" name="pem">
              <option value="">-SELECT-</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="col-xs-4">
            <select [disabled] = "data.id !== '1' && data.id !== null" style="width: 70px;" [(ngModel)] = "employeeDialogModel.dm" class="form-control" id="cboDeliveryManager" name="dm">
              <option value="">-SELECT-</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
          <div class="col-xs-4">
            <select [disabled] = "data.id !== '1' && data.id !== null" style="width: 70px;" [(ngModel)] = "employeeDialogModel.tl" class="form-control" id="cboLead" name="tl">
              <option value="">-SELECT-</option>
              <option value="true">Yes</option>
              <option value="false">No</option>
            </select>
          </div>
        </div>
      </div>
      </form>
    </mat-dialog-content>
  </div>
</div>
<mat-dialog-actions class="pull-right">
  <button [disabled] = "this.formSubmitted == true" (click) = "addEmployee()" *ngIf="data.id === '1'" class="btn btn-warning pull-right save-button" mat-button>
    <span *ngIf="this.formSubmitted == true" class="fa fa-circle-o-notch fa-spin"></span>
    <span *ngIf="this.formSubmitted != true">IMPORT</span>
  </button>&nbsp;
  <button class="btn btn-warning pull-right cancel-button" mat-button mat-dialog-close>{{ data.id === '1' ? "Cancel" : "Ok" }}</button>
</mat-dialog-actions>